*{
    html, body {
        height: 70vh; 
        overflow-x: hidden;
    }
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #9e0008;
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    align-items: center; 
}

.header-bar{
    padding: 15px;
    grid-column: 1/11;
    background-color: #000000;

    #menu-icon{
        display: none;
    }

    .nav-links{
        list-style-type: none;
        display: flex;
        float: right;
        padding-top: 3px;
        font-size: 25px;
        margin-right: 0%;
    }

    #site-logo{
        font-weight: bold;
        font-size: 30px;
        float: left;
        margin-left: 2%;
        transition: ease-in-out 0.5s;
    }

    li{
        padding-inline: 20px;
    }

    a{
        text-decoration: none;
        color: rgb(235, 235, 235);
    }
}

.profile-image-section{
    grid-column: 1/4;
    padding: 60px 0px 45px 120px;
    text-align: center;
    
    img{
        width: 120%;
        border-radius: 50%;
        transition: ease-in-out 0.8s;
    }

    img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        cursor: pointer; 
    }
}

.intro-text-section{
    grid-column: 4/11;
    padding: 10px 100px 55px 260px;
    color: rgb(0, 0, 0);
     font-family: 'Vollkorn', serif;

    .intro-list{
        list-style-type: none;
        font-size: 35px;
    }

    li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
        font-size: 150%;
    }
    li:nth-child(4){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
    }
}

.contact-text-section {

     grid-column: 4/11;
    padding: 10px 100px 55px 260px;
    color: rgb(0, 0, 0);
     font-family: 'Vollkorn', serif;


    .contact-list{
        list-style-type: none;
        font-size: 25px;
    }

    li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
        font-size: 150%;
    }
    li:nth-child(4){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
    }
}
.about-text-section {

     grid-column: 4/11;
    padding: 10px 100px 55px 260px;
    color: rgb(0, 0, 0);
     font-family: 'Vollkorn', serif;


    .about-list{
        list-style-type: none;
        font-size: 25px;
    }

    li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
        font-size: 150%;
    }
    li:nth-child(4){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
    }
}
.page-footer{
    grid-column: 1/11;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Vollkorn SC', sans-serif;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



@media screen and (max-width: 1200px){
    .header-bar{

        .nav-links{
            font-size: 25px;
        }

        li{
            padding-inline: 20px;
        }

        #site-logo{
            font-size: 35px;
        }
    }

    .profile-image-section{
        padding: 80px 0px 0px 50px;
        img{
            width: 110%;
        }
    }

    .intro-text-section{
        padding: 10px 0px 0px 150px;
        .intro-list{
            font-size: 30px;
        }
        
    }

    .contact-text-section{
        padding: 10px 0px 0px 150px;
       
        .contact-list{
            font-size: 30px;
        }
    }
    .about-text-section{
        padding: 50px 0px 0px 150px;
        .about-list{
            font-size: 25px;
        }
        li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 100px 0px 0px 0px;
    }
        li:nth-child(2){
        font-family: 'Vollkorn', serif; 
        padding: 0px 0px 0px 0px;
    }
        li:nth-child(3){
        font-family: 'Vollkorn', serif; 
        padding: 0px 0px 0px 0px;
    }
    }
}

@media screen and (max-width: 1000px){
    .header-bar{
        .nav-links{
            font-size: 25px;
        }

        li{
            padding-inline: 13px;
        }

        #site-logo{
            font-size: 32px;
        }
    }

    .profile-image-section{
        padding: 100px 0px 0px 50px;
        img{
            width: 100%;
        }
    }

    .intro-text-section{
        padding: 120px 0px 0px 100px;
        .intro-list{
            font-size: 30px;
        }
    }
    .contact-text-section{
        padding: 10px 0px 0px 150px;
        .contact-list{
            font-size: 30px;
        }
    }
    .about-text-section{
        padding: 50px 0px 0px 150px;
        .about-list{
            font-size: 25px;
        }
        li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 100px 0px 0px 0px;
    }
        li:nth-child(2){
        font-family: 'Vollkorn', serif; 
        padding: 0px 0px 0px 0px;
    }
        li:nth-child(3){
        font-family: 'Vollkorn', serif; 
        padding: 0px 0px 0px 0px;
    }
    }
}

@media screen and (max-width: 900px){
    .header-bar{
        .nav-links{
            font-size: 23px;
        }

        li{
            padding-inline: 10px;
        }

        #site-logo{
            padding: 0px 0px 0px 20px;
            font-size: 30px;
        }
    }

    .profile-image-section{
        padding: 110px 0px 0px 50px;
        img{
            width: 110%;
        }
    }

    .intro-text-section{
        padding: 120px 0px 0px 80px;
        .intro-list{
            font-size: 25px;
        }
    }
.contact-text-section{
        padding: 10px 0px 0px 150px;
        .contact-list{
            font-size: 25px;
        }
    }
    .about-text-section{
        padding: 50px 100px 0px 150px;
        .about-list{
            font-size:20px;
        }
    }
    .page-footer{
        font-size: 13px;
        border-color: #000000;
    }
}

@media screen and (max-width: 760px){
    .header-bar{
      
        .nav-links {
            display: none;
            flex-direction: column;
            background: hsl(0, 0%, 0%);
            position: absolute;
            top: 65px;
            right: 0px;
            border-radius: 10px;
            width: 150px;
            padding: 0px 0;
            text-align: center;
        }

       
        .nav-links.show {
            display: flex;
            font-size: 13px;
        }
        #menu-icon{
            display: block;
            color: white;
            float: right;
            font-size: 20px;
             cursor: pointer;
        }

        #site-logo{
            padding: 0px 0px 0px 10px;
            font-size: 30px;
        }
    }

    .profile-image-section{
        grid-column: 1/11;
        padding: 10px;
        img{
            width: 30%;
        }
    }

    .intro-text-section{
        grid-column: 1/11;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-list{
            font-size: 28px;
        }
         li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 10px 0px 0px 0px;
         }
        li:nth-child(4){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
    }
    }

  .contact-text-section{
        grid-column: 1/11;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-list{
            font-size: 20px;
        }
         li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 100px 0px 0px 0px;
         }
        li:nth-child(4){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
    }
    }
    .about-text-section{
        grid-column: 1/11;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-list{
            font-size: 20px;
        }
         li:nth-child(1){
        font-family: 'Vollkorn', serif; 
        padding: 100px 0px 0px 0px;
         }
        li:nth-child(4){
        font-family: 'Vollkorn', serif; 
        padding: 80px 0px 0px 0px;
    }
    }
}

@media screen and (max-width: 550px) {
    .header-bar {
       
        .nav-links {
            display: none;
            flex-direction: column;
            background: hsl(0, 0%, 0%);
            position: absolute;
            top: 65px;
            right: 0px;
            border-radius: 10px;
            width: 150px;
            padding: 0px 0;
            text-align: center;
        }

      
        .nav-links.show {
            display: flex;
            font-size: 13px;
        }

        #menu-icon {
            display: block;
            color: white;
            float: right;
            font-size: 20px;
            cursor: pointer;
        }

        #site-logo {
            padding: -4px 0px 0px 10px;
            font-size: 30px;
        }
    }

    .profile-image-section {
        grid-column: 1/11;
        padding: 10px;

        img {
            width: 40%;
        }
    }

    .intro-text-section {
        grid-column: 1/11;
        padding: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-list {
            font-size: 22px;
        }

        li:nth-child(1) {
            font-family: 'Vollkorn', serif; 
            padding: 50px 0px 0px 0px;
        }
    }
    .contact-text-section {
        grid-column: 1/11;
        padding: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-list {
            font-size: 22px;
        }

        li:nth-child(4) {
            font-family: 'Vollkorn', serif; 
            padding: 50px 0px 0px 0px;
        }
    }
    .about-text-section {
        grid-column: 1/11;
        padding: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-list {
            font-size: 22px;
        }
 li:nth-child(1) {
            font-family: 'Vollkorn', serif; 
            padding: 50px 0px 0px 0px;
        }
       
    }
}

@media screen and (max-width: 450px) {
    .header-bar {
      
       .nav-links {
            display: none;
            flex-direction: column;
            background: hsl(0, 0%, 0%);
            position: absolute;
            top: 60px;
            right: 0px;
            border-radius: 10px;
            width: 160px;
            padding: 0px 0;
            text-align: center;
        }

       
        .nav-links.show {
            display: flex;
            font-size: 11px;
        }


        #menu-icon {
            display: block;
            color: white;
            float: right;
            font-size: 20px;
             cursor: pointer;
        }

        #site-logo {
            padding: 0px;
            font-size: 25px;
        }
    }

    .profile-image-section {
        grid-column: 1/11;
        padding: 10px;

        img {
            width: 50%;
        }
    }

    .intro-text-section {
        grid-column: 1/11;
        padding: 5px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-list {
            font-size: 21px;
        }
    }
    .contact-text-section {
        grid-column: 1/11;
        padding: 5px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-list {
            font-size: 21px;
        }
    }
    .about-text-section {
        grid-column: 1/11;
        padding: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-list {
            font-size: 21px;
        }
         li:nth-child(1) {
            font-family: 'Vollkorn', serif; 
            padding: 50px 0px 0px 0px;
        }
    }

    .page-footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    .header-bar {
       .nav-links {
            display: none;
            flex-direction: column;
            background: hsl(0, 0%, 0%);
            position: absolute;
            top: 58px;
            right: 0px;
            border-radius: 10px;
            width: 100px;
            padding: 0px 0;
            text-align: center;
        }

       
        .nav-links.show {
            display: flex;
            font-size: 10px;
        }


        #menu-icon {
            display: block;
            color: white;
            float: right;
            font-size: 20px;
             cursor: pointer;
        }

        #site-logo {
            padding: 0px;
            font-size: 22px;
        }
    }

    .profile-image-section {
        grid-column: 1/11;
        padding: 30px 0px 0px 0px;

        img {
            width: 60%;
        }
    }

    .intro-text-section {
        grid-column: 1/11;
        padding: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .intro-list {
            font-size: 17px;
        }
    }
    .about-text-section {
        grid-column: 1/11;
        padding: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        .about-list {
            font-size: 17px;
        }
    }
    .contact-text-section {
        grid-column: 1/11;
        padding: 10px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contact-list {
            font-size: 17px;
        }
    }

    .page-footer {
        font-size: 10px;
    }
}
